@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lineMove {
  0% {
    transform: translateY(6100%);
  }
  50% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(6100%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

